
@import url(http://fonts.googleapis.com/css?family=Passion+One);
@import url(http://fonts.googleapis.com/css?family=Dosis:500);

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font: 14px/21px Helvetica, Sans-Serif;
}

html {
    color: #111;
    background: white;
}

body{
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    max-width: 40%;
    background: #eee;
}

.header {
    background: cornsilk;
}

.gray {
    background: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #465461;
    margin: 20px;
    font-family: 'Passion One', cursive;
}

.header a:first-child,
form,
button,
.desc,
.gray a:nth-child(2n),
.gray p,
dt,
#bio {
    margin-left: 20px;
}

img {
    margin-left: 20px;
    padding-bottom: 20px;
}

h1 {
    font-family: 'Passion One', cursive;
    font-weight: normal;
    padding: 15px 0 0 0;
    font-size: 3em;
    text-shadow: 1px 1px #000, 2px 2px #AACF00, 3px 3px #AACF00, 4px 4px #AACF00, 5px 5px #AACF00, 6px 6px #AACF00;
}

li,
div {
    font-family: 'Dosis', sans-serif;
}

li:nth-child(odd):hover {
    background: cornsilk;
}

a {
    text-decoration: none;
    color: #465461;
    font-family: 'Dosis', sans-serif;
}

.header a:hover {
    background: #AACF00;
}

h2 a {
    background: transparent;
    color: #465461;
}
.desc {
    background-color: white;
    width: 80%;
    padding: 4px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid #000000;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"]
{
    font-size: 1em;
    cursor: pointer;
    -webkit-appearance: button;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 #465461;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pagination {
    margin: 20px;
}

.pagination:hover {
    background: #AACF00;
}

footer p {
    font-size: .75em;
    font-family: 'Dosis', sans-serif;
    margin: 20px;
}
/*.comment {*/
    /*padding: 10px;*/
    /*margin: 10px;*/
    /*position: relative;*/
/*}*/
/*.comment_li {*/
    /*list-style: none;*/
/*}*/
/*.comment_last {*/
    /*padding: 10px;*/
    /*margin: 10px;*/
/*}*/
/*.comment_info {*/
    /*line-height: 24px;*/
    /*position: relative;*/
/*}*/
/*.comment_user {*/
    /*text-decoration: underline;*/
    /*margin-right: 10px;*/
    /*font-weight: bold;*/
    /*color: #666;*/
    /*font-size: .99em;*/
    /*cursor: pointer;*/
    /*float: left;*/
/*}*/
/*.comment_data {*/
    /*font-size: 11px;*/
    /*color: #666;*/
    /*margin-top: 10px;*/
/*}*/
/*.comment_text {*/
    /*margin-top: 10px;*/
    /*float: inherit;*/
    /*font-size: 1.08em;*/
    /*color: black;*/
/*}*/
/*.comment_reply_post {*/
    /*color: #004276;*/
    /*outline: none;*/
    /*text-decoration: none;*/
    /*vertical-align: baseline;*/
/*}*/
/*.comments_length {*/
    /*padding-left: 15px;*/
    /*font-weight: bold;*/
/*}*/
/*#form-comment {*/
    /*padding: 15px;*/
    /*margin: 15px;*/
    /*background-color: #faf0e6;*/
    /*width: 500px;*/
/*}*/
/*form label {*/
    /*float: left;*/
    /*width: 130px;*/
/*}*/
/*label[for=id_honeypot],*/
/*#id_honeypot {*/
  /*display: none;*/
/*}*/
/*#cancel_reply {*/
    /*display: none;*/
/*}*/
/*.comments #cancel_reply {*/
  /*display: inline;*/
/*}*/