{% load staticfiles %}
<html>
<head>
    <title>Perkkit</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/vote.js"></script>
</head>
<body>
<h1>Perkkit</h1>
  <p>
    <a href="{% url 'home' %}">Home</a> |
{% if user.is_authenticated %}
    <a href="{%  url 'post_create' %}">Submit Link</a> |
    <a href="{% url 'logout' %}">Logout</a> |
    <a href="{%  url 'profile' slug=user.username %}"><b>
        {{ user.username }}
    </b></a>
{% else %}
    <a href="{% url 'registration_register' %}">Register</a> |
    <a href="{% url 'login' %}">Login</a>
{% endif %}
  </p>

{% block content %}
{% endblock %}

<footer>
<p>&copy; Jon Siker, 2015</p>
</footer>
</body>
</html>
