{% extends "base.html" %}
{% load comments %}

{% block content %}
<h2><a href="{{ object.link }}">{{ object.title }}</a></h2>

{% if object.submitter == user %}
    <a href="{%  url 'post_update' pk=object.pk %}">Edit</a> |
    <a href="{% url 'post_delete' pk=object.pk %}">Delete</a>
{% endif %}

<p>Submitted by <a href='{% url "profile" slug=object.submitter%}'>{{ object.submitter }}</a></p>

<div class="desc">
  {{ object.blurb }}
</div>

{% if user.is_authenticated %}
    {% get_comment_form for object as form %}
    <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{% url 'post_detail' object.id %}" />
        <br>
    <input type="submit" value="Add comment" id="id_submit" />
    </form>
{% else %}
    <p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
{% endif %}
{% render_comment_list for object %}

{% endblock %}