{% extends "base.html" %}
{% load comments %}
{% block content %}

    {% if is_paginated %}
<ol start="{{ page_obj.start_index }}">
    {% else %}
<ol>
    {% endif %}

    {% for post in object_list %}
        <form method="post" action="{% url 'vote' %}" class="vote_form">
            <li> ({{ post.votes }})
                {% csrf_token %}
                <input type="hidden" id="id_post" name="post" class="hidden_id" value="{{ post.pk }}"/>
                <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}"/>
                {% if not user.is_authenticated %}
                    <button disabled title="Please login to vote">+</button>
                {% elif post.pk not in voted %}
                    <button>+</button>
                {% else %}
                    <button>-</button>
                {% endif %}
                <a href="{% url 'post_detail' pk=post.pk %}">
                    <b>{{ post.title }}</b>
                    <div>{% get_comment_count for post as comment_count %}{{ comment_count }} {% if comment_count == 1 %} Comment {% elif comment_count != 1 %} Comments {% endif %} (Submitted by {{ post.submitter }} @ {{ post.submitted_on }})</div>
                </a>
            </li>
        </form>
    {% endfor %}
</ol>

{% if is_paginated %}
    <div class="pagination">
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
    {% endif %}
    </div>
{% endif %}

{% endblock %}